
{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="row mt-4">
  <div class="col">
    {% include 'partials/_va_update_stats.html' %}
    {% if not user.is_fieldworker %}
        {% if last_update or last_submission %}
          <h2 class="mb-4">VA Collection Overview for {{ locations }}</h2>
        {% else %}
          <h2 class="mb-4">No VAs found for {{ locations }}</h2>
        {% endif %}
    {% else %}
        <h2 class="mb-4">Your VA Trends</h2>
    {% endif %}

    <table class="table home-page-statistics">
      <thead>
        <tr>
          <th scope="col">VAs</th>
          <th scope="col">24 hours</th>
          <th scope="col">1 week</th>
          <th scope="col">1 month</th>
          <th scope="col">Overall</th>
          <th scope="col">Submission Trends</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Submitted</th>
          <td>{{ vas_collected_24_hours }}</span></td>
          <td>{{ vas_collected_1_week }}</td>
          <td>{{ vas_collected_1_month }}</td>
          <td>{{ vas_collected_overall }}</td>
          <td>{{ graph_collected|safe }}</td>
        </tr>
        <tr>
          <th scope="row">Coded</th>
          <td>{{ vas_coded_24_hours }}</td>
          <td>{{ vas_coded_1_week }}</td>
          <td>{{ vas_coded_1_month }}</td>
          <td>{{ vas_coded_overall }}</td>
          <td>{{ graph_coded|safe }}</td>
        </tr>
        <tr>
          <th scope="row">Not Yet Coded</th>
          <td>{{ vas_uncoded_24_hours }}</td>
          <td>{{ vas_uncoded_1_week }}</td>
          <td>{{ vas_uncoded_1_month }}</td>
          <td>{{ vas_uncoded_overall }}</td>
          <td>{{ graph_uncoded|safe }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% if perms.va_data_management.change_verbalautopsy %}
<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">Verbal Autopsy Actions</h2>
      <form method="post" action="{% url 'data_management:run_coding_algorithms' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Run Coding Algorithms</button>
      </form>
  </div>
</div>
{% endif %}

<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">VAs With Coding Issues</h2>
    {% if issue_list %}
      {% include 'partials/_va_table.html' with va_list=issue_list %}
      {% if additional_issues > 0 %}<p>There are <a href="/va_data_management/?only_errors=True" id="additional_issues">{{ additional_issues }} additional issues</a> not listed here</p>{% endif %}
    {% else %}
      <strong>No coding issues found!</strong>
      <p>Head over to the <a href="/va_analytics/dashboard">dashboard</a> to analyze VAs</p>
    {% endif %}
  <div>
</div>
<div class="row mt-4">
    <div class="col">
      <h2 class="mb-4">VAs With Indeterminate Cause of Death</h2>
      {% if indeterminate_cod_list %}
        {% include 'partials/_va_table.html' with va_list=indeterminate_cod_list %}
        {% if additional_indeterminate_cods > 0 %}<p>There are <a href="/va_data_management/?cause=Indeterminate" id="additional_issues">{{ additional_indeterminate_cods }} additional VAs with Indeterminate Cause of Death</a> not listed here</p>{% endif %}
      {% else %}
        <strong>No VAs with Indeterminate Cause of Death found!</strong>
        <p>Head over to the <a href="/va_analytics/dashboard">dashboard</a> to analyze VAs</p>
      {% endif %} 
  </div>
<div>

{% endblock %}
