{% extends "base.html" %}

{% block content %}

<div class="row mt-4">
  <div class="col">
    {% if not user.is_fieldworker %}
        <h2 class="mb-4">VA Explorer Overview for {{ locations }}</h2>
    {% else %}
        <h2 class="mb-4">Your VA Trends</h2>
    {% endif %}

    <table class="table home-page-statistics">
      <thead>
        <tr>
          <th scope="col">VAs</th>
          <th scope="col">24 hours</th>
          <th scope="col">1 week</th>
          <th scope="col">1 month</th>
          <th scope="col">Overall</th>
          <th scope="col">Annual Trend</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Collected</th>
          <td>{{ vas_collected_24_hours }}</span></td>
          <td>{{ vas_collected_1_week }}</td>
          <td>{{ vas_collected_1_month }}</td>
          <td>{{ vas_collected_overall }}</td>
          <td>{{ graph_collected|safe }}</td>
        </tr>
        <tr>
          <th scope="row">Coded</th>
          <td>{{ vas_coded_24_hours }}</td>
          <td>{{ vas_coded_1_week }}</td>
          <td>{{ vas_coded_1_month }}</td>
          <td>{{ vas_coded_overall }}</td>
          <td>{{ graph_coded|safe }}</td>
        </tr>
        <tr>
          <th scope="row">Not Yet Coded</th>
          <td>{{ vas_uncoded_24_hours }}</td>
          <td>{{ vas_uncoded_1_week }}</td>
          <td>{{ vas_uncoded_1_month }}</td>
          <td>{{ vas_uncoded_overall }}</td>
          <td>{{ graph_uncoded|safe }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% if perms.va_data_management.change_verbalautopsy %}
<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">Verbal Autopsy Actions</h2>
      <form method="post" action="{% url 'data_management:run_coding_algorithms' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Run Coding Algorithms</button>
      </form>
  </div>
</div>
{% endif %}

<div class="row mt-4">
  <div class="col">
    {% if user.is_fieldworker %}
      <h2 class="mb-4">Your Conducted VAs</h2>
      <p>For more detail on your conducted VAs, visit the <a href="/va_data_management">Data Management page</a></p>
    {% else %}
      <h2 class="mb-4">VAs With Coding Issues</h2>
      {% if issue_list %}
        {% include 'partials/_va_table.html' with va_list=issue_list %}
        {% if additional_issues > 0 %}<p>There are <a href="/va_data_management/?only_errors=True">{{ additional_issues }} additional issues</a> not listed here</p>{% endif %}
      {% else %}
        <p>Excellent, no coding issues found!</p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
