{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="row mt-4">
  <div class="col">
    {% include 'partials/_va_update_stats.html' %}
    {% if not user.is_fieldworker %}
      {% if last_update or last_interview %}
        <h2 class="mb-4">VA Collection Overview for {{ locations }}</h2>
      {% else %}
        <h2 class="mb-4">No VAs found for {{ locations }}</h2>
      {% endif %}
    {% else %}
      <h2 class="mb-4">Your VA Trends</h2>
    {% endif %}

    <table class="table home-page-statistics">
      <thead>
        <tr>
          <th scope="col">VAs</th>
          <th scope="col">24 hours</th>
          <th scope="col">1 week</th>
          <th scope="col">1 month</th>
          <th scope="col">Overall</th>
          <th scope="col">Interview Trends</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Interviewed</th>
          <td id="interviewed-past-24-hours"></td>
          <td id="interviewed-past-week"></td>
          <td id="interviewed-past-month"></td>
          <td id="interviewed-overall"></td>
          <td><canvas id="interviewedChart"></canvas></td>
        </tr>
        <tr>
          <th scope="row">Coded</th>
          <td id="coded-past-24-hours"></td>
          <td id="coded-past-week"></td>
          <td id="coded-past-month"></td>
          <td id="coded-overall"></td>
          <td><canvas id="codedChart"></canvas></td>
        </tr>
        <tr>
          <th scope="row">Not Yet Coded</th>
          <td id="uncoded-past-24-hours"></td>
          <td id="uncoded-past-week"></td>
          <td id="uncoded-past-month"></td>
          <td id="uncoded-overall"></td>
          <td><canvas id="notYetCodedChart"></canvas></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% if perms.va_data_management.change_verbalautopsy %}
<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">Verbal Autopsy Actions</h2>
      <form method="post" action="{% url 'data_management:run_coding_algorithms' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-file-prescription"></i>
          &nbsp;Run Coding Algorithms
        </button>
      </form>
  </div>
</div>
{% endif %}

<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">VAs With Coding Issues</h2>
    <table class="table table-sm hidden" id="coding-issues">
      <thead>
        <tr>
          <th>ID</th>
          <th>Interviewed</th>
          {% if not user.is_fieldworker %}<th>Interviewer</th>{% endif %}
          <th>Facility</th>
          <th>Deceased</th>
          <th>Deathdate</th>
          <th>Cause</th>
          <th>Warnings</th>
          <th>Errors</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="coding-issues-root"></tr>
      </tbody>
    </table>
    <p id="additional-issues-msg" class="hidden">There are <a href="/va_data_management/?only_errors=True" id="additional-issues">
    <span id="additional-issues-count"></span> additional issues</a> not listed here</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div id="no-coding-issues" class="hidden">
      <strong>No coding issues found!</strong>
      <p>Head over to the <a href="/va_analytics/dashboard">dashboard</a> to analyze VAs</p>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <h2 class="mb-4">VAs With Indeterminate Cause of Death</h2>
    <table class="table table-sm hidden" id="indeterminate-cod">
      <thead>
        <tr>
          <th>ID</th>
          <th>Interviewed</th>
          {% if not user.is_fieldworker %}<th>Interviewer</th>{% endif %}
          <th>Facility</th>
          <th>Deceased</th>
          <th>Deathdate</th>
          <th>Cause</th>
          <th>Warnings</th>
          <th>Errors</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="indeterminate-cod-root"></tr>
      </tbody>
    </table>
    <p id="additional-indeterminate-cods-msg" class="hidden">There are <a href="/va_data_management/?cause=Indeterminate" id="additional-cods">
      <span id="additional-indeterminate-cods-count"></span> additional VAs with Indeterminate Cause of Death</a> not listed here</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div id="no-indeterminate-cod" class="hidden">
      <strong>No VAs with Indeterminate Cause of Death found!</strong>
      <p>Head over to the <a href="/va_analytics/dashboard">dashboard</a> to analyze VAs</p>
    </div>
  </div>
</div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/chartjs-3.7.1/chart.min.js' %}"></script>
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
