{% extends "base.html" %}
{% load static i18n %}
{% block title %}Edit Verbal Autopsy {{ id }}{% endblock %}

{% block heading %}Edit Verbal Autopsy #{{ id }}{% endblock %}

{% block content %}
<div class="row mt-4">
<form method="POST" action="{% url 'data_management:edit' id=id %}">
  {% csrf_token %}
  {% if form.errors %}
      {% for field in form %}

           {% for error in field.errors %}
            <b class="text-danger">{{field.name}}: {{ error|escape }}</b>
           {% endfor %}

      {% endfor %}
  {% endif %}
  {% for field in form %}
    <div class="form-group row">
      <div class="col-sm-2">
        <label for="{{ field.name }}" class="col-form-label"><b>{{ field.name }}</b></label>
      </div>
      <div class="col-sm-4">
        <div class="col-form-label">{{ field.label }}</div>
      </div>
      <div class="col-sm-4">
        {{ field }}
      </div>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<div class="flt-action-backdrop"></div>
<div class="flt-action-btn child to-top" data-subitem="3"><i class="fas fa-caret-up"></i></div>
<div class="flt-action-btn child to-bottom" data-subitem="2"><i class="fas fa-caret-down"></i></div>
<a href="{% url 'data_management:show' id=id %}">
  <div class="flt-action-btn child" data-subitem="1"><i class="fas fa-angle-double-left"></i></div>
</a>
<div class="flt-action-btn" id="main-fab"><i class="fas fa-sort"></i></div>
</div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'js/fab.js' %}"></script>
{% endblock %}
