{% extends "base.html" %}

{% block title %}Verbal Autopsies{% endblock %}

{% block heading %}Verbal Autopsies{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<form method="get">
  <div class="form-row align-items-end">
    {% crispy filterset.form %}
    <div class="form-group">
      <button class="form-control btn btn-primary filter-button" type="submit">Search</button>
    </div>
    {% if filterset.is_valid %}
      <div class="form-group">
        <a class="btn btn-secondary form-control filter-button" href="{% url 'data_management:index' %}">Reset</a>
      </div>
    {% endif %}
  </div>
</form>

<div class="row mt-4">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Facility</th>
        <th>Cause</th>
        <th>Warnings</th>
        <th>Errors</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for va in object_list %}
      <tr>
        <td>{{ va.id }}</td>
        <td>{{ va.date }}</td>
        <td>{{ va.name }}</td>
        <td>{{ va.facility }}</td>
        <td>{{ va.cause }}</td>
        <td>{{ va.warnings }}</td>
        <td>{{ va.errors }}</td>
        {% if perms.va_data_management.view_verbalautopsy %}
          <td><a class="btn btn-primary" href="{% url 'data_management:show' id=va.id %}">View</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if page_obj.has_other_pages %}
  {% include "partials/_pagination.html" %}
  {% endif %}
</div>
{% endblock %}
