{% extends "base.html" %}

{% block title %}Verbal Autopsy #{{ object.id }}{% endblock %}

{% block heading %}Verbal Autopsy #{{ object.id }}{% endblock %}

{% block content %}
<ul class="nav nav-tabs tab-spacing" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="record-tab" data-toggle="tab" href="#record" role="tab" aria-controls="record" aria-selected="true">Record</a>
  </li>
  {% if errors or warnings %}
    <li class="nav-item">
      <a class="nav-link" id="issues-tab" data-toggle="tab" href="#issues" role="tab" aria-controls="issues" aria-selected="false">Coding Issues</a>
    </li>
  {% endif %}
  {% if diffs %}
    <li class="nav-item">
      <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Change History</a>
    </li>
  {% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="record" role="tabpanel" aria-labelledby="record-tab">
    <div class="row mt-3">
      {% if perms.va_data_management.change_verbalautopsy %}
        <a class="btn btn-primary" href="{% url 'data_management:edit' id=id %}">Edit Record</a>
      {% endif %}
    </div>

    <div class="row mt-4">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Field Name</th>
            <th>Field Question</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for field in form %}
            <tr>
              <td><b>{{ field.name }}</b></td>
              <td>{{ field.label }}</td>
              <td>{{ field.value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% if errors or warnings %}
    <div class="tab-pane fade" id="issues" role="tabpanel" aria-labelledby="issues-tab">
      <div class="row mt-4">
        {% if errors %}
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>{{ errors|length }} Error{{ errors|pluralize }}</th>
              </tr>
            </thead>
            <tbody>
              {% for error in errors %}
                <tr><td>{{ error }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>

      {% if warnings %}
        <div class="row mt-4">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>{{ warnings|length }} Warning{{ warnings|pluralize }}</th>
              </tr>
            </thead>
            <tbody>
              {% for warning in warnings %}
                <tr><td>{{ warning }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if diffs %}
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
      <div class="row mt-4">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th colspan=3>{{ diffs|length }} Change{{ diffs|pluralize }}</th>
            </tr>
          </thead>
          <tbody>
            {% for diff in diffs %}
              <tr>
                <td>{{ diff.new_record.history_date|date:"Y-m-d H:i" }}</td>
                <td>{{ diff.new_record.history_user.name }}</td>
                <td>
                  {% for change in diff.changes %}
                    {% if change.old and change.new %}
                      <b>{{ change.field }}</b> changed from <b>{{ change.old }}</b> to <b>{{ change.new }}</b><br/>
                    {% elif change.new %}
                      <b>{{ change.field }}</b> was set to <b>{{ change.new }}</b><br/>
                    {% elif change.old %}
                      <b>{{ change.field }}</b> had value <b>{{ change.old }}</b> deleted<br/>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
        </table>
      </div>
      <div class="row mt-4">
        {% if perms.va_data_management.change_verbalautopsy %}
        <!-- TODO: these should be buttons in forms and making a POST request instead of GET -->
        <a class="btn btn-primary mx-2" href="{% url 'data_management:reset' id=id %}">Reset to Original</a></p>
        <a class="btn btn-primary mx-2" href="{% url 'data_management:revert_latest' id=id %}">Revert Most Recent Change</a>
        {% endif %}
      </div>
    </div>

  {% endif %}
</div>

<div class="flt-action-backdrop"></div>
<div class="flt-action-btn child to-top" data-subitem="3"><i class="fas fa-caret-up"></i></div>
<div class="flt-action-btn child to-bottom" data-subitem="2"><i class="fas fa-caret-down"></i></div>
<a href="{% url 'va_data_management:index' %}">
  <div class="flt-action-btn child" data-subitem="1"><i class="fas fa-angle-double-left"></i></div>
</a>
<div class="flt-action-btn" id="main-fab"><i class="fas fa-sort"></i></div>


{% endblock %}
