.flt-action-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ECECEC;
	opacity: 0.6;
	display: none;
}

.flt-action-btn {
	background: #0070FF;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align:center;
	color: #FFF;
	box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
	position: fixed;
	bottom: 50px;
	right: 25px;
	font-size: 25px;
	display: table-cell;
	cursor: pointer;
}

.flt-action-btn svg {
	vertical-align: middle;
	padding-top: 4px;
}

.flt-action-btn.child {
	right: 25px;
	width: 42px;
	height: 42px;
	display: none;
  opacity: 0;
  font-size: 21px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
