ul.va-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  list-style: none !important;
}

ul.va-check label {
  margin-bottom: 0;
}

li input.va-check {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.va-options-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row-reverse;
}

.checkbox-container{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.checkbox{
  margin-left: 20px;
}

.checkbox-label{
  margin-left: 5px;
  font-size:18px;
}
