.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

body {
  padding-bottom: 70px;
}

.checkbox-div {
  margin-left: 10px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.location-tree-depth-1 {
  padding-left: 0;
  text-transform: uppercase;
}

.location-tree-depth-2 {
  padding-left: 20px;
}

.location-tree-depth-3 {
  padding-left: 40px;
  font-style: italic;
}

.dashboard-comp-container {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button {
  margin-left: 5px;
}

.form-date {
  width: 160px;
}

.btn-light:focus {
  background-color: #bdc0c3;
}

.copyright-text {
  color: #656565;
  line-height: 40px;
  font-size: 0.7em;
}

.input-label {
  margin-top: 18px;
  margin-right: 5px;
}

.input-label-disabled {
  margin-top: 18px;
  margin-right: 5px;
  color: lightgray;
}

.dashboard-title {
  font-size: 2.2rem;
  font-weight: 450;
  margin-left: 20px;
  margin-top: 5px;
}

.form-button {
  padding: 5px;
}

.radio-group-labels {
  border: 1px solid #ccc;
  border-radius: 3px;
  font: 16px Roboto, sans-serif;
  padding: 8px 7px;
  background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
  background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
  cursor: pointer;
}

.radio-group-labels-checked {
  background-image: -webkit-linear-gradient(top, #eee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eee, #e3e3e3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.radio-group-labels:hover {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.auth-body {
  background-image: url("/static/images/bg.jpg");
  background-color: #E0E0E0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.auth-logo {
  width: 12%;
  height: auto;
  filter: invert(100%);
}

.auth-container {
  position: fixed;
  width: 70%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.auth-title {
  font-weight: bold;
  font-size: 3vw;
}

.auth-label {
  font-size: 1.2vw;
}

.auth-sign-in-box {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  opacity: .8;
  border-color: #266a93;
  border-width: 2px;
  border-style: solid;
}

.auth-title-name {
  font-weight: bold;
  font-size: 6vw;
  color: white;
  text-shadow: 0 1px 0 black;
}

.auth-title-desc {
  font-size: 2.5vw;
  color: white;
  margin-right: 30px;
  line-height: 120%;
  text-shadow: 0 1px 0 black;
}

.auth-attribution {
  font-size: 1vw;
  position: fixed;
  bottom: 0;
  color: #888;
}

.auth-attribution a {
  color: #BBB;
}

a.auth-title-link {
  font-size: 2vw;
  color: white;
  text-decoration: underline;
  color: white !important;
  background-color: inherit;
  text-shadow: 0 1px 0 black;
}

a.auth-title-link:visited {
  color: white !important;
  background-color: inherit;
}

a.auth-title-link:hover {
  color: white !important;
  background-color: inherit;
}

a.auth-title-link:active {
  color: white !important;
  background-color: inherit;
}

.tab-spacing {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  margin-top: 1rem!important;
}

.msg-header {
  margin-left: 10px;
}

table.home-page-statistics td {
  font-size: 2.0em;
  font-weight: 300;
  vertical-align: middle;
}

table.home-page-statistics th {
  vertical-align: middle;
}

.button-icon {
  color:white;
}

.duplicates-table-text {
  width: 70%;
}

.info-tooltip {
  cursor: pointer;
}

.info-icon {
  margin-left: 5px;
  color: rgba(75,75,75,0.5);
}
