{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}VA Export{% endblock %}
{% block heading %}Customize VA Export{% endblock %}


{% block content %}
<div class = "col-6">
  <p>Customize which data you'd like to export and how. First, choose whether you want to export to an external databse (still a WIP) or download locally. Then, choose the timeframe and geographic scope of your data. </p>

  <form action="/va_export/" method="post">
      {% csrf_token %}
      {{ form|crispy}}
      <button type="submit" id="submit-form" class="btn btn-primary">Download</button>
  </form>
</div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
  <script src="{% static 'js/va_export.js' %}"></script>
{% endblock %}