{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}VA Export{% endblock %}
{% block heading %}Customize VA Export{% endblock %}


{% block content %}
<div class = "col-6">
  <p>Customize which data you'd like to export and how. First, choose whether you want to export to an external databse (Coming Soon) or download locally. Then, choose the timeframe and geographic scope of your data. </p>

  <form action="/va_export/" method="post" id="export-form">
      {% csrf_token %}
      {{ form|crispy}}
      <button type="submit" id="submit-form" class="btn btn-primary hidden">Download</button>
  </form>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preparing Download</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your download is being prepared and compressed to a .zip file.
        This modal will close automatically when the download has finished. <br/><br/>
        <strong>Note</strong>: Large file sizes may take several minutes to download.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close now</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadFailedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Download Failed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your download could not be completed. Please try again later.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
  <script src="{% static 'js/va_export.js' %}"></script>
{% endblock %}
