{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit User{% endblock %}

{% block content %}
  <div class="row mt-4">
    <h2>Edit User</h2>
  </div>
  <div class="row mt-3">
    <form class="form-horizontal" method="post" action="{% url 'users:update' pk=user.pk %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary">Update</button>
          <a href="{% url 'users:index' %}" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
  <script src="{% static 'js/location.js' %}"></script>
{% endblock %}
