{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block content %}
    <div class="row mt-4">
      <h2>Set Password</h2>
    </div>

    <div class="row mt-4">
      <p>Please type in a password of your choosing to replace your temporary password.</p>
    </div>

    <div class="row mt-4">
      <form method="POST" action="{% url 'users:set_password' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Set Password</button>
      </form>
    </div>
{% endblock %}
