{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="row mt-4">
	<h2>User Details</h2>
</div>
<br>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Name</strong></div>
    <div class="col-sm-6">
        {{ user.name }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Email</strong></div>
    <div class="col-sm-6">
        {{ user.email }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Active Status</strong></div>
    <div class="col-sm-6">
        {{ user.is_active }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Role</strong></div>
    <div class="col-sm-6">
        {%  for group in user.groups.all %}
          {{ group.name }}
        {%  endfor %}
    </div>
</div>
{% endblock content %}
