{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="row mt-4">
	<h2>User Details</h2>
</div>
<br>

<div class="row mt-3">
    <div class="col-sm-2"><strong>First Name</strong></div>
    <div class="col-sm-6">
        {{ user.first_name }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Last Name</strong></div>
    <div class="col-sm-6">
        {{ user.last_name }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Email</strong></div>
    <div class="col-sm-6">
        {{ user.email }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Active Status</strong></div>
    <div class="col-sm-6">
        {{ user.is_active }}
    </div>
</div>
  <div class="row mt-3">
    <div class="col-sm-2"><strong>SuperUser Status</strong></div>
    <div class="col-sm-6">
        {{ user.is_superuser }}
    </div>
</div>
{#<div class="row mt-3">#}
{#    <div class="col-sm-2"><strong>Email Confirmed</strong></div>#}
{#    <div class="col-sm-6">#}
{#        {{ user.email_confirmed_at if user.email_confirmed_at else "False" }}#}
{#    </div>#}
{#</div>#}

{% endblock content %}
