{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block heading %}User Details{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-sm-2"><strong>Name</strong></div>
    <div class="col-sm-6">
        {{ user.name }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Email</strong></div>
    <div class="col-sm-6">
        {{ user.email }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Active Status</strong></div>
    <div class="col-sm-6">
        {{ user.is_active }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Can View PII</strong></div>
    <div class="col-sm-6">
        {{ user.can_view_pii }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Can Download Data</strong></div>
    <div class="col-sm-6">
        {{ user.can_download_data }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2"><strong>Role</strong></div>
    <div class="col-sm-6">
        {%  for group in user.groups.all %}
          {{ group.name }}
        {%  endfor %}
    </div>
</div>
  <div class="row mt-3">
    <div class="col-sm-2"><strong>Geographic Access</strong></div>
    <div class="col-sm-6">
        {%  for location in user.location_restrictions.all %}
          {{ location.name }} <br>
        {% empty %}
          National
        {%  endfor %}
    </div>
</div>
  <br/>
  {% if perms.users.view_user %}
    <a href="{% url 'users:index' %}" class="btn btn-primary">Back</a>
  {% endif %}
{% endblock content %}
