{% for child in children_2 %}
  {% if forloop.counter0 == 0  %}
    <option value="">All districts</option>
    <option value="{{ child.id }}">{{ child.name }}</option>
  {% else %}
    <option value="{{ child.id }}">{{ child.name }}</option>
  {% endif %}
{% endfor %}

{% for child in children_3 %}
  {% if forloop.counter0 == 0  %}
    <option value="">All facilities</option>
    <option value="{{ child.id }}">{{ child.name }}</option>
  {% else %}
    <option value="{{ child.id }}">{{ child.name }}</option>
  {% endif %}
{% endfor %}
