{% load va_explorer_tags %}
{% load static i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home:index' %}">VA Explorer</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="{% active '^\/$|about' %} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'home:index' %}">Home</a>
          <a class="dropdown-item" href="{% url 'home:about' %}">About</a>
        </div>
      </li>

      {% if perms.users.view_user or perms.va_analytics.supervise_users %}
        <li class="nav-item dropdown">
          <a class="{% active '\/(.*)users|supervision' %} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.users.view_user %}
              <a class="dropdown-item" href="{% url 'users:index' %}">Users</a>
            {% endif %}
            {% if perms.va_analytics.supervise_users %}
              <a class="dropdown-item" href="{% url 'va_analytics:supervision' %}">Supervision</a>
            {% endif %}
          </div>
        </li>
      {% endif %}

      {% if perms.va_analytics.view_dashboard %}
      <li class="nav-item">
          <a class="{% active '\/(.*)dashboard' %} nav-link" href="{% url 'va_analytics:dashboard' %}">Dashboard</a>
        </li>
      {% endif %}
      {% if perms.va_data_management.view_verbalautopsy or perms.va_data_management.view_batchoperations or perms.va_data_cleanup.view_datacleanup %}
        <li class="nav-item dropdown">
          <a class="{% active '\/(.*)data_management|data_cleanup' %} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.va_data_management.view_verbalautopsy %}
              <a class="dropdown-item" href="{% url 'va_data_management:index' %}">Data Management</a>
            {% endif %}
            {% if perms.va_data_management.view_batchoperations %}
              <a class="dropdown-item" href="{% url 'data_management:batch_operations' %}">Batch Statuses</a>
            {% endif %}
            {% if AUTO_DETECT_DUPLICATES and perms.va_data_cleanup.view_datacleanup %}
              <a class="dropdown-item" href="{% url 'va_data_cleanup:index' %}">Data Cleanup</a>
            {% endif %}
          </div>
        </li>
      {% endif %}

      {% if perms.va_analytics.download_data or perms.dhis_manager.change_dhisstatus %}
        <li class="nav-item dropdown">
          <a class="{% active '\/(.*)dhis|export' %} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if perms.va_analytics.download_data %}
              <a class="dropdown-item" href="{% url 'va_export:download_form' %}">Export</a>
            {% endif %}
            {% if perms.dhis_manager.change_dhisstatus %}
              <a class="dropdown-item" href="{% url 'dhis_manager:dhishome' %}">DHIS2</a>
            {% endif %}
          </div>
        </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      <li class="nav-item dropdown">
        {% if request.user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.name }} is signed in.
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'users:change_password' %}">Change Password</a>
          <a class="dropdown-item" href="{% url 'users:detail' pk=request.user.pk %}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
