{% load va_explorer_tags %}

<table class="table table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Facility</th>
      <th>Cause</th>
      {% if not user.is_fieldworker %}
        <th>Warnings</th>
        <th>Errors</th>
      {% endif %}
      <th>View</th>
      {% if va_data_cleanup and perms.va_data_cleanup.download %}
        <th>
          <span data-toggle="tooltip" data-placement="top" title="Downloads this VA and VAs auto-detected as its duplicate(s) to CSV">
            Download<i class="fas fa-info-circle" style="margin-left: 5px; color: rgba(75,75,75,0.5);"></i>
          </span>
        </th>
      {% endif %}
      {% if va_data_cleanup and perms.va_data_management.delete_verbalautopsy %}
        <th>
          <span data-toggle="tooltip" data-placement="top" title="Deletes this VA">
            Delete<i class="fas fa-info-circle" style="margin-left: 5px; color: rgba(75,75,75,0.5);"></i>
           </span>
        </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for va in va_list %}
    <tr>
      <td>{{ va.id }}</td>
      <td>{% pii_filter "Id10023" va.date %}</td>
      <td>{% pii_filter "Id10007" va.name %}</td>
      <td>{{ va.facility }}</td>
      <td>{{ va.cause }}</td>
      {% if not user.is_fieldworker %}
        <td>{{ va.warnings }}</td>
        <td>{{ va.errors }}</td>
      {% endif %}
      <td><a class="btn btn-primary" href="{% url 'data_management:show' id=va.id %}">View</a></td>
      {% if va_data_cleanup and perms.va_data_cleanup.download %}
        <td>
          <a class="btn btn-secondary" href="{% url 'data_cleanup:download' va.id %}">
          <i class="fas fa-download" style="color: white;"></i></a>
        </td>
      {% endif %}
      {% if va_data_cleanup and perms.va_data_management.delete_verbalautopsy %}
        <td>
          <a class="btn btn-secondary" href="{% url 'data_management:delete' va.id %}">
          <i class="fas fa-trash-alt" style="color: white;"></i></a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
