<table class="table table-sm">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Surname</th>
      <th>Sex</th>
      <th>Date of Birth Known</th>
      <th>Date of Birth</th>
      <th>Date of Death Known</th>
      <th>Date of Death</th>
      <th>View</th>
      <th>Download<i class="fas fa-info-circle" style="margin-left: 5px; color: rgba(75,75,75,0.5);"></i></th>
      <th>Delete<i class="fas fa-info-circle" style="margin-left: 5px; color: rgba(75,75,75,0.5);"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for va in va_list %}
    <tr>
      <td>{{ va.id }}</td>
      <td>{{ va.first_name }}</td>
      <td>{{ va.surname }}</td>
      <td>{{ va.sex }}</td>
      <td>{{ va.dob_known }}</td>
      <td>{{ va.dob }}</td>
      <td>{{ va.dod_known }}</td>
      <td>{{ va.dod }}</td>
      <th><a class="btn btn-primary" href="{% url 'data_management:show' id=va.id %}">View</a></th>
      <td><a class="btn btn-primary"><i class="fas fa-download" style="color: white;"></i></a></td>
      <td><a class="btn btn-danger" href="{% url 'data_management:delete' va.id %}"><i class="fas fa-trash-alt" style="color: white;"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
