{% load va_explorer_tags %}

<table class="table table-sm">
  <thead>
    <tr>
      <th><a href="?{% sort_url 'id' direction='-' %}">ID</a></th>
      <th><a href="?{% sort_url 'Id10012' direction='-' %}">Interviewed</a></th>
      {% if not user.is_fieldworker %}
        <th><a href="?{% sort_url 'Id10010' direction='-' %}">Interviewer</a></th>
      {% endif %}
      <th><a href="?{% sort_url 'facility' direction='-' %}">Facility</a></th>
      <th><a href="?{% sort_url 'deceased' direction='-' %}">Deceased</a></th>
      <th><a href="?{% sort_url 'Id10023' direction='-' %}">Deathdate</a></th>
      <th><a href="?{% sort_url 'cause' direction='-' %}">Cause</a></th>
      <th><a href="?{% sort_url 'warnings' direction='-' %}">Warnings</a></th>
      <th><a href="?{% sort_url 'errors' direction='-' %}">Errors</a></th>
      <th></th>
      {% if va_data_cleanup and perms.va_data_cleanup.download %}
        <th>
          <span class="info-tooltip" data-toggle="tooltip" data-placement="top" title="Downloads this VA and VAs flagged as its potential duplicate(s) to CSV">
            Download<i class="fas fa-circle-info"></i>
          </span>
        </th>
      {% endif %}
      {% if va_data_cleanup and perms.va_data_management.delete_verbalautopsy %}
        <th>
          <span class="info-tooltip" data-toggle="tooltip" data-placement="top" title="Deletes this VA">
            Delete<i class="fas fa-circle-info"></i>
           </span>
        </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if va_list|length != 0 %}
      {% for va in va_list %}
        <tr>
          <td>{{ va.id }}</td>
          <td>{% pii_filter "Id10012" va.interviewed|default:"Date Unknown" %}</td>
          {% if not user.is_fieldworker %}
            <td>{% pii_filter "Id10010" va.interviewer|default:"Not Listed" %}</td>
          {% endif %}
          <td>{{ va.facility|default:"Not Provided" }}</td>
          <td>{% pii_filter "Id10017" va.deceased|default:"Subject Unknown" %}</td>
          <td>{{ va.dod|default:"Date Unknown" }}</td>
          <td>{{ va.cause|default:"Not Coded" }}</td>
          <td>{{ va.warnings }}</td>
          <td>{{ va.errors }}</td>
          <td><a class="btn btn-primary" href="{% url 'data_management:show' id=va.id %}">View</a></td>
          {% if va_data_cleanup and perms.va_data_cleanup.download %}
            <td>
              <a class="btn btn-primary" href="{% url 'data_cleanup:download' va.id %}">
                <i class="fas fa-download"></i>
              </a>
            </td>
          {% endif %}
          {% if va_data_cleanup and perms.va_data_management.delete_verbalautopsy %}
            <td>
              <a class="btn btn-danger" href="{% url 'data_management:delete' va.id %}">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    {% else %}
        There are no results.
    {% endif %}
  </tbody>
</table>
