{% load va_explorer_tags %}
{% if last_update or last_interview %}
  <div class="row">
    {% if last_update %}
        <p class='msg-header'> <b>Last Data Update:</b> {{ last_update }}</p>
    {% else %}
        <p class='msg-header'>No VAs found</p>
    {% endif %}

    {% if last_interview %}
        <p class='msg-header'><b>Last VA Interview:</b> {{ last_interview }}</p>
    {% endif %}

    {% if AUTO_DETECT_DUPLICATES %}
      <p class='msg-header'><b># Auto-detected Duplicates:</b> {{ DUPLICATES_COUNT }}</p>
    {% endif %}
  </div>
{% endif %}
