{% extends "base.html" %}
{% load static i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/vuesalize-0.1.2/vuesalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    </div>
  {% endfor %}
{% endif %}

{% block content %}
  <main id="dashboardApp">
    <% sample %>
  </main>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script type="text/javascript" src="{% static 'vendor/vue-2.6.14/vue.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/vuesalize-0.1.2/vuesalize.min.js' %}"></script>

  <script type="text/javascript">

    const dashboard = new Vue({
      el: '#dashboardApp',
      delimiters: ["<%", "%>"],
      data() {
        return {
          sample: "welcome to the dashboard!"
        }
      }
    })
  </script>
{% endblock %}

